page-destination {
	#map-dest{
		 width: 100%;
        height: 100%;
	}
	ion-fab{
		bottom:1em;
		right:1em;

		button{
		background-color: #26a69a; 
		color:#EEEFF7;
		}
	}
	.button-ee-fav{
    	background-color:#26a69a;
    }
}
