page-delivery-step-1 {
	.background{
		//background-image: url('../assets/imgs/traffic-background-8.jpg');
		background-color: #FFFFFF;
	}
	ion-item-divider{

		text-align: center;
	}
	ion-item{
		background: transparent !important;

	}
	ion-label,ion-datetime{
		//color: #ffffff;
		//text-align: center;	
	}

}
