<ion-header>

  <ion-navbar color="ee">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="background">
	<ion-card>
		<ion-card-header>
		  	<ion-thumbnail>
				<div align="center" *ngIf="!photo && !photo_fb">
					<img src="">	
				</div>
				
				<div align="center" *ngIf="photo && !photo_fb">
					<img src="https://envioentregas.com/storage/app/public/users/{{photo}}" *ngIf="!hasChangeProfilePhoto">
					<img [src]="base64Image" *ngIf="hasChangeProfilePhoto">	
				</div>

				<div align="center" *ngIf="photo_fb">
					<img src="{{photo_fb}}">
				</div>
			
			</ion-thumbnail>
		    
		</ion-card-header>
		<ion-card-content >
			<button ion-button block outline color="light" (click)='presentChangeProfilePhoto()' *ngIf="!hasChangeProfilePhoto">
				ELEGIR FOTO DE PERFIL
			</button>
			<button ion-button block color="ee" *ngIf="hasChangeProfilePhoto" (click)='saveChangeProfilePhoto()'>
				GUARDAR FOTO DE PERFIL
			</button>
			<a >Has un sueldo extra</a>
		    <button ion-button block  color="light" *ngIf="!isDelivery" (click)="goDeliveryStep();">
		    	SER DELIVERY
		    </button>
		    <button ion-button block  color="light" *ngIf="isDelivery" (click)="goDeliveryStep();">
		    	VER MI DISPONIBILIDAD DELIVERY
		    </button>
		</ion-card-content>
	</ion-card>	  
			
	<ion-card>
		<ion-card-header>
			<button ion-button block outline color="light" (click)="toAnotherPage('profile');">
				IR A MI PERFIL
			</button>
		</ion-card-header>	
		<ion-card-content>
			<ion-list no-line>
			    	<ion-item (tap)="toAnotherPage('profile');">
						
						<ion-avatar item-start>
					      <ion-icon name="list-box"></ion-icon>
					    </ion-avatar>
					    
					    Recuerda tu Info
					    <p>Puedes verificar tu Información Personal</p>    	
			    	</ion-item>
			    	<ion-item (tap)="toAnotherPage('notification');">
				    
					    <ion-avatar item-start>
					      <ion-icon name="notifications-outline"></ion-icon>
					    </ion-avatar>
					    
					    Notificaciones
					    <p>Elije sobre que quiere que te Notifiquemos</p>
		  			
		  			</ion-item>

		  			<ion-item>
				   
					    <ion-avatar item-start>
					      <ion-icon name="star"></ion-icon>
					    </ion-avatar>
					   
					    Mi Reputación
					    <!-- rating -->	
					      <ion-icon *ngIf="rating >= 1" class="ee-icon" name="star"></ion-icon>
					      <ion-icon *ngIf="rating > 0 && rating < 1" class="ee-icon" name="star-half"></ion-icon>
					      <ion-icon *ngIf="!rating" class="ee-icon" name="star-half"></ion-icon>

					      <ion-icon *ngIf="rating >= 2" class="ee-icon" name="star"></ion-icon>
					      <ion-icon *ngIf="rating > 1 && rating < 2" class="ee-icon" name="star-half"></ion-icon>
					      <ion-icon *ngIf="rating <= 1 && rating > 0" class="ee-icon" name="star-outline"></ion-icon>

					      <ion-icon *ngIf="rating >= 3" class="ee-icon" name="star"></ion-icon>
					      <ion-icon *ngIf="rating > 2 && rating < 3" class="ee-icon" name="star-half"></ion-icon>
					      <ion-icon *ngIf="rating <= 2 && rating > 0" class="ee-icon" name="star-outline"></ion-icon>

					      <ion-icon *ngIf="rating >= 4" class="ee-icon" name="star"></ion-icon>
					      <ion-icon *ngIf="rating > 3 && rating < 4" class="ee-icon" name="star-half"></ion-icon>
					      <ion-icon *ngIf="rating <= 3 && rating > 0" class="ee-icon" name="star-outline"></ion-icon>

					      <ion-icon *ngIf="rating == 5" class="ee-icon" name="star"></ion-icon>
					      <ion-icon *ngIf="rating > 4 && rating < 5" class="ee-icon" name="star-half"></ion-icon>
					      <ion-icon *ngIf="rating <= 4 && rating > 0" class="ee-icon" name="star-outline"></ion-icon>

					      <p  *ngIf="rating == null">NO HA SIDO CALIFICADO</p>
  					
  					</ion-item>


			</ion-list>
		</ion-card-content>
	</ion-card>
	
</ion-content>
