page-signin {

	ion-label {
		color: #fff;
		text-align: center;
	}

	.form-text {
		text-align: left;
		color: #fff;
		font-weight: 500;
		span {
			font-weight: 600;
		}
	}

	form {
		margin-top: 2rem;
	}
	.background{
		background-image: url('../assets/imgs/new-order/back_minimal1.jpg');
		background-size: 100% 100% !important;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.btn-facebook {
		background-color: #3b5998;
	}

	.button-ee {
	  	background-color: #444;
	  	font-family: Lato, Helvetica, sans-serif;

	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}

	a, p, label, 
	ion-card-header.card-header {
		color: #fff;
	}

	.list > .item-block:first-child {
		border: medium none; 
	}

	.item {
		margin-bottom: 10px;
		background:  rgba(0, 0, 0, 0.5);
		border: medium none;

		.text-input {
			color: #fff;
		} 

		label {
			color: #fff;
		}
		::ng-deep input {
			color: #fff;
		}

		input:-moz-placeholder {
			color: #fff;
		}

		*::-webkit-input-placeholder{
			color: #fff;
		}

		*:-ms-input-placeholder {
			color: #fff;
		}

		*:-moz-placeholder {
			color: #fff;
		}

	}

	.icon{
	  padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	} 
}
