page-notifications {
    .background{
		background-color: map-get($colors, dark);
    }
    .background-card {
        background-color: map-get($colors, dark);
        color: #FAC82C;
        size: 20px;
    }
    .color-header-body {
        color: white;
    }
}
