<ion-header>

  <ion-navbar color="ee">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
	<ion-card class="background-card">
		<ion-card-header> 
			<p class="title-card">{{titleCard}}</p>
		</ion-card-header>
		<ion-card-content>
			<ion-list no-line>
				<ion-card>
				 	<ion-card-header>
						<p class="title-inside-card"> {{titlePrice}} </p>
						<ion-item class="item-price" *ngIf="isClient">
							<ion-input
								type="text" 
								name="costStipulated"
								type="number"
								(keyup)="costStipulatedOnChange()"
								[(ngModel)]="costStipulated">
							</ion-input>	 
						</ion-item> 
						  <p class="subtitle-card" *ngIf="isClient"> {{finalCost | currency:'ARS'}}</p>
						  <p class="subtitle-card" *ngIf="!isClient"> {{costStipulated | currency:'ARS'}}</p>
					</ion-card-header>
					<ion-card-content *ngIf="!isClient">
					    <i class="title-inside-card">El Precio Estimado, contiene ademas el costo de cargos y servicios.</i>
					</ion-card-content>
					<div *ngIf="isClient">
						<i class="title-inside-card">Cargos y Servicios.</i>
						<p class="title-inside-card">{{ serviceStipulated | currency:'ARS' }}</p>
					</div>
				</ion-card>
				<ion-card *ngIf="!isClient">
					  <ion-card-header>
							<p class="title-inside-card"> Costo por Seguro</p>
							<p class="subtitle-card" *ngIf="insuranceCost > 0">{{insuranceCost | currency:'ARS'}}</p>
							<p class="subtitle-red-card" *ngIf="!insuranceCost > 0">Envío No Asegurado</p>
							<p class="title-inside-card"> Costo S/Cargos y Servicios</p>
							<p class="subtitle-card">{{realCost | currency:'ARS'}}</p>
							<p class="title-inside-card"> Cargos y Servicios</p>
							<p class="subtitle-card">{{serviceStipulated | currency:'ARS'}}</p>
					  </ion-card-header>
					<button ion-button block color="ee" (click)="presentInsurance();" *ngIf="!isInsuranced && !isClient">ASEGURAR ENVIO</button>
					<button ion-button block outline color="ee" (click)="presentDeleteInsurance();" *ngIf="isInsuranced && !isClient">QUITAR SEGURO</button>
					<button ion-button block color="ee" (click)="presentNewPrice();" *ngIf="!isClient">CAMBIAR COSTO ENVIO</button>
					<button ion-button block color="ee" *ngIf="!isClient" (click)="sendDataNewOrden();">PUBLICAR ENVIO</button>
				</ion-card>
			</ion-list>
		</ion-card-content>	
	</ion-card>
</ion-content>
<ion-footer>
	<button ion-button block color="ee" *ngIf="isClient" (click)="sendDataNewOrden();">PUBLICAR ENVIO</button>
</ion-footer>
