page-delivery-scheduler{
  .background{
		background-color: map-get($colors, dark);
  }
  .background-card {
    background-color: map-get($colors, dark);
    color: #FAC82C;
    size: 20px;
  }
  .position-card {
    position: relative;
    margin-top: 2cm;
    font-weight: bold;
  }
  .color-header-body {
    color: white;
  }
  .center {
    text-align: center;
    align-content: center;
  }
  .text-date {
    color: #B5B2AA;
    font-size: 12px;
  }
  ion-icon {
    font-size: 50px; //Preferred size here
    color: white;
    text-align: center;
    align-content: center;
  }
}