page-order-tracking {
	.text{
	  color: #26a69a;
	  font-family: Lato, Helvetica, sans-serif;
	  font-size: 0.8em;
	}
	.normal_text{
	   font-family: Lato, Helvetica, sans-serif;
	  font-size: 0.8em;
	}
	.text_header{
	  color: #444;
	  font-family: Lato, Helvetica, sans-serif;
	  font-size: 1.0em;
	  position:relative;
	  
	}
	.text-status{
	color: #444;
	font-family: Lato, Helvetica, sans-serif;
	}
	
}
